<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<test name="LandingPageScript">
        <classes>
            <class name="script.LandingPageScript"/>
        </classes>
    </test> 
    
    <test name="LoginTest">
        <classes>
            <class name="script.LoginTest"/>
        </classes>
    </test> 
	    
   <test name="InterviewQuestionTestScript">
        <classes>
            <class name="script.InterviewQuestionTestScript"/>
        </classes>
    </test> 
    
</suite> <!-- Suite -->
